.content-section {
    width: 768px;
    height: 150px !important;
    flex-direction: column;
    display: flex;
    height: 145px; /* Set the height to 125px */
    margin: auto; /* Center horizontally */
    position: absolute; /* Position absolutely */
    top: 35%; /* Align to the vertical center */
    left: 50%; /* Align to the horizontal center */
    transform: translate(-50%, -50%); 
    border-radius: 10px;
    box-shadow: 0 0 8px var(--shadow-color-image);
    background-color: var(--background-color);
    
    box-sizing: border-box; /* Ensure border is included in width/height */
    
    padding-bottom: 10%;
}

@media screen and (max-width: 768px) {
    .content-section {
        width: 80%; /* Set a smaller width for smaller screens */
        height: 60%; /* Set a smaller height for smaller screens */
    }
}

.media {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    justify-content: center; /* Center items horizontally */
    text-align: center; /* Align text center */
    margin-bottom: 20px; /* Adjust margin as needed */
}
.account-img {
    width: 100px;
    height: 100px;
    align-self: center;
    border-radius: 50%;
    margin-bottom: 20px;
     /* Adjust the negative margin-top to move the image up */
    box-shadow: 0 0 10px var(--shadow-color-image);
}

.movie__name {
    flex: 1; /* Shorthand for flex-grow: 1, flex-shrink: 1, and flex-basis: 0 */
 /* Add some space between the image and text */
    /* Add any additional styling for the container */
}

.account-heading {
    font-size: 24px; /* Adjust as needed */
    margin-bottom: 5px;
    margin-top: 15px;
    
     /* Adjust as needed */
}

.text-secondary {
    color: var(--text-accountemail);
    font-size: 16px; /* Adjust the font size for the email */
    margin-bottom: 0;
    
}


.edit_profile {
    position: absolute;
    top: 10px; /* Adjust top position as needed */
    right: 10px; /* Adjust right position as needed */
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.edit_profile:hover {
    text-decoration: underline;
    text-decoration-color: var(--accent-colour);
  }


.pencil_edit {
    width: 1em;
    height: 1em;
    
    
}


.post-container-acc {
    width: 60%;
    margin: 6rem auto; /* Increase the margin to create a larger distance */
}

.post-acc {
    width: 90%; /* Make the post width match the container */
    position: relative;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    top: 8rem;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border:1px var(--border) solid transparent;
    background-color: var(--background-color);
    overflow: hidden;
    
    box-sizing: border-box; /* Ensure border is included in width/height */
    box-shadow: 0.75rem 0.75rem 10px -0.5rem var(--shadow-color-image);
}

.post-acc-header {
    display: flex;
    align-items: center; /* Align items vertically in the header */
}

.post-username-acc {
    font-size: 18px;
    text-align: left;
    margin: 0;
     /* Adjusted margin */
}

.post-username-acc:hover {
    color: var(--accent-colour);
    transition: 0.2s ease;
}

.post-content-acc {
    font-size: 16px;
    margin-top: 10px;
    margin-left: 3px; /* Adjusted margin */
}

.post-date-acc {
    font-size: 10px; /* Set font size for date */
    color: #666; /* Set text color for date */
    position: absolute; /* Position the date in the top right corner */
    top: 5px; /* Adjust top position */
    right: 5px;  /* Adjust right position */
}

.post-header-img-acc {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0 0 10px var(--shadow-color-image);
}


@media screen and (max-width: 768px) {
    .post-acc {
        width: 80%; /* Set a smaller width for smaller screens */
        height: 60%; /* Set a smaller height for smaller screens */
    }
}




.post-acc-header a {
    color: inherit; /* Inherit text color */
    text-decoration: none; /* Remove default underline */
}

.post-acc-header a:hover {
    text-decoration: none; /* Add underline on hover if desired */
}


.update-photo-link {
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: var(--text-dark);
    align-self: center;
}

.neon-line {
    width: 100%; /* Set width to full width */
    height: 2px;
    background-color: var(--accent-colour);
    box-shadow: 0 0 10px var(--accent-colour);
    margin-bottom: 20px; /* Adjust margin as needed */
}



.delete__post__acc {
    margin-left: auto;
    margin-top: 5px;
    display: flex;
    font-size: 12px;
    color: #a0a0a0;
    background-color: transparent; /* Move both to the right side */
    border: none;
    cursor: pointer;
    padding: 0;
}

.post__edit__acc {
    margin-left: 1rem;
    margin-top: 5px;
    display: flex;
    font-size: 12px;
    color: #a0a0a0;
    background-color: transparent; /* Move both to the right side */
    border: none;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
}
.post__edit__acc a {
    margin-left: auto;
    display: flex;
    font-size: 12px;
    color: #a0a0a0;
    background-color: transparent; /* Move both to the right side */
    border: none;
    cursor: pointer;
    padding: 0;
    
}
 .post__edit__acc:hover {
    color: var(--accent-colour);
 }



.delete__post__acc {
    margin-left: 10px; /* Add some space between delete and edit */
}

.delete__post__acc:hover {
    color: var(--accent-colour);
}