/* Layout styles */
.chat-section {
    width: 768px;
    height: 400px !important;
    
    display: flex;
    
    margin: auto; /* Center horizontally */
    position: absolute; /* Position absolutely */
    top: 55%; /* Align to the vertical center */
    left: 50%; /* Align to the horizontal center */
    transform: translate(-50%, -50%); 
    border-radius: 10px;
    box-shadow: 0 0 8px var(--shadow-color-image);
    background-color: var(--background-color);
    
    box-sizing: border-box; /* Ensure border is included in width/height */
    
    
}

@media screen and (max-width: 768px) {
    .chat-section {
        width: 80%; /* Set a smaller width for smaller screens */
        height: 60%; /* Set a smaller height for smaller screens */
    }
}

.sidebar {
    width: 200px;
    border-right: 2px solid var(--accent-colour);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 28px; /* Take full height of chat-section */
}



.sidebar h4 {
    padding: 10px;
    border-top: 1px solid var(--accent-colour);
    border-bottom: 1px solid var(--accent-colour);
    
    color: #f7f7f7;
    border-radius: 5px;
    background-image: var(--login-gradient-dark);
}





/* Display message section styles */
.display-message-section {
    
    padding: 10px;
    margin-left: 10px; /* Add margin to separate from sidebar */
    margin-right: 10px; /* Add margin to separate from input area */
    margin-bottom: 10px;
    max-height: 100%; /* Adjust height to fit remaining space */
    overflow-y: auto;
    flex: 1; /* Expand to fill available space */
}

/* Right-side panel styles */
.rightside-pannel {
    display: flex;
    
    flex-direction: column;
    justify-content: space-between; /* Align items with space between them */
    width: calc(100% - 200px); /* Set width to fill remaining space */
}

/* Input area styles */
.input-area {
    display: flex;
    align-items: center; /* Align items vertically */
    padding: 10px;
    margin-left: 1rem;
    border-top: 2px solid var(--accent-colour);
    border-left: 2px solid var(--accent-colour);
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}

.input-area:hover {
    
    box-shadow: 0 0 10px var(--accent-colour);
}



.user_message {
    margin-right: 10px; /* Add space between input and button */
    padding: 5px;
    flex: 1;
    overflow: hidden;
}

.user_message:focus-within {
    outline: none; /* Remove outline on focus */
    box-shadow: 0 0 10px var(--shadow-color-image);
    transition: box-shadow 0.3s ease;
}


.send_message {
    padding: 5px 10px;
    width: 8rem;
    background-color: var(--accent-colour); /* Use the accent colour defined in your root variables */
    color: var(--text-light); /* Use the light text colour defined in your root variables */
    border: none;
    
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease,box-shadow 0.3s ease;
}

.send_message:hover {
    box-shadow: 0 0 10px var(--shadow-color-image);
    transition: 0.1s ease;
}

/* Chatted users list styles */
.chatted-users-list {
    padding: 0;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 20px;
    transition: 0.3s ease;
    position: absolute;
    top: 25%; 
}

.chatted-users-list li {
    margin-bottom: 5px;
    cursor: pointer;
}

.chatted-users-list li:hover {
    text-decoration: underline;
}





/* Conversations section styles */
.conversations-section {
    padding: 10px;
    margin-left: 10px; /* Add margin to separate from sidebar */
    margin-right: 10px; /* Add margin to separate from input area */
    margin-bottom: 10px;
    max-height: 10%; /* Adjust height to fit remaining space */
    overflow-y: auto;
    flex: 1; /* Expand to fill available space */
}

/* Conversations list styles */
.conversations-list {
    list-style: none;
    padding: 0;
}

.conversations-list li {
    margin-bottom: 5px;
    cursor: pointer;
}

.conversations-list li:hover {
    text-decoration: underline;
}


.select-room {
    padding: 0;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 20px;
    transition: 0.3s ease;
}


.sidebar .select-room:last-child {
    margin-bottom: 100px;
}




.select-room:hover {
    
    border-right: var(--accent-colour);
    border-radius: 5px;
    transition: 0.3s ease;
    
    transform: translateX(5px);
}



.select-user {
    padding: 0;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 20px;
    transition: 0.3s ease;
    margin-bottom: 10px;
}

.select-user:hover {
    
    border-right: var(--accent-colour);
    border-radius: 5px;
    transition: 0.3s ease;
    
    transform: translateX(5px);
}

.sidebar .select-user:last-child {
    margin-bottom: 20px;
}



.active-room {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text-shadow for a subtle glow effect */
    color: #f7f7f7;
    font-weight: bold;
    
    border-radius: 5px;
   
    background-image: var(--login-gradient-dark); /* Set the text color for the active room */
}


.active-user {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text-shadow for a subtle glow effect */
    color: #f7f7f7;
    font-weight: bold;
    
    border-radius: 5px;
   
    background-image: var(--login-gradient-dark); /* Set the text color for the active room */
}


.login-header-login-chat {
    font-size: 1.8rem; /* Adjust font size as needed */
    color: #f7f7f7; /* Adjust color as needed */
    text-align: right;
    display: flex;
    
    padding: 10px;
    width: 56%;
    margin-left: 20px;
    margin-right: auto;
    
    background-image: var(--login-gradient-dark);
    border-radius: 10px;
    font-weight: bold; /* Example: make the text bold */
    border-top: 1px solid var(--accent-colour);
    box-shadow: 0 0 0px var(--shadow-color-image);
    /* Linear gradient background */
    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text-shadow for a subtle glow effect */
    transition: transform 0.3s ease; /* Linear gradient background */
}



/* Chat message styles */
.display-message-section p {
    font-size: 16px; /* Adjust the font size for the chat messages as needed */
}

/* Username styles */
.display-message-section p span.username {
    transition: 0.3s ease; /* Set the username color to the accent color */
    font-size: 14; /* Inherit the font size from the parent (16px) */
    cursor: pointer;
    color: var(--accent-colour);
}



/* Time and date styles */
.display-message-section p span.time {
    font-size: 10px;
    color: var(--delete-color); /* Adjust the font size for the time and date */
}

/* System message styles */
.display-message-section .system-message {
    font-size: 10px;
    color: var(--delete-color);  /* Adjust the font size for the system messages as needed */
}




.select-user-input {
    margin-top: 15px;
    margin-left: 20px;
    height: 30px;
    font-size: 16px;
    width: 160px;
    
}







/* Username styles */
.display-message-section .message .username {
    transition: 0.3s ease;
    font-size: 16px;
    cursor: pointer;
    color: var(--accent-colour); /* Adjust the color as needed */
}

/* Message content styles */
.display-message-section .message p {
    font-size: 16px; /* Adjust the font size for the message */
    margin: 0; /* Remove default margin */
}

/* Time and date styles */
.display-message-section .message .time {
    font-size: 10px;
    color: var(--delete-color); /* Adjust the color as needed */
    margin-top: 4px; /* Adjust the spacing between message and timestamp */
}





.delete-btn {
    background-color: red; /* Change the background color as needed */
    color: white; /* Change the text color as needed */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
