.input-container {
    text-align: center; /* Center align the content */
}

.styled-input {
    width: 60%; /* Set width of the input field container */
    margin: 0 auto;
     /* Add a transparent border */
/* Center align the input field container */
}

.styled-input textarea {
    width: 90%;
    height: 4rem; /* Set width of the input field */
    padding: 10px; /* Adjust padding as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px; /* Set font size */
    color: #333; /* Set text color */
    background-color: #f9f9f9;
    box-shadow: 0 0 5px var(--shadow-color-image); /* Add some space between the input field and the button */
}

.input-container textarea:focus {
    outline: none; /* Remove outline on focus */
     /* Change border color on focus */
     box-shadow: 0 0 10px var(--shadow-color-image);
    transition: box-shadow 0.4s ease; /* Add box shadow on focus */
}

.post-button {
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: var(--accent-colour); /* Use the accent colour defined in your root variables */
    color: var(--text-light); /* Use the light text colour defined in your root variables */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease,box-shadow 0.3s ease; /* Smooth transition for background colour change */
}

.post-button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Apply a dark box-shadow on hover */
}


.post-container {
    width: 60%; /* Set the width of the post container to match the input field container */
    margin: 3rem auto 0;
    
     /* Center the post container */
}

.post {
    width: 90%; /* Make the post width match the container */
    position: relative;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    
    
    margin-left: auto;
    margin-right: auto;
    border:1px var(--border) solid transparent;
    background-color: var(--background-color);
    overflow: hidden;
    
    box-sizing: border-box; /* Ensure border is included in width/height */
    box-shadow: 0.75rem 0.75rem 10px -0.5rem var(--shadow-color-image);
    transition: box-shadow 0.3s ease; 
}

.post:hover {
    
    box-shadow: 0.75rem 0.75rem 10px -0.5rem var(--accent-colour); /* Light box shadow on hover */
    
}

.post-header {
    display: flex;
    align-items: center;/* Align items vertically in the header */
}

.post-username {
    font-size: 18px;
    text-align: left;
    margin: 0;
     
}

.post-username:hover {
    color: var(--accent-colour);
    text-decoration: none;
    transition: 0.2s ease;
}


.post-content {
    font-size: 16px;
    margin-top: 10px;
    margin-left: 3px; /* Set font size for content */
}

.post-date {
    font-size: 12px; /* Set font size for date */
    color: #666; /* Set text color for date */
    position: absolute; /* Position the date in the top right corner */
    top: 2px; /* Adjust top position */
    right: 5px; /* Adjust right position */
}


.post-header-img {
    width: 40px; /* Adjust the width of the profile picture */
    height: 40px; /* Adjust the height of the profile picture */
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0 0 10px var(--shadow-color-image);
     /* Add some space between the picture and the username */
}



.post-header a {
    color: inherit; /* Ensure anchor inherits text color */
    text-decoration: none;
    
     /* Remove default underline */
}

.post-header a:hover {
    text-decoration: none; /* Add underline on hover if desired */
}



.right-container {
    width: 12rem; /* Adjust width as needed */
    height: auto; /* Allow the height to adjust based on content */
    overflow-y: auto; /* Add vertical scrollbar if needed */
    padding: 10px 2rem; /* Add padding for better appearance */
    background-color: var(--background-color); /* Add background color */
    border-radius: 5px; /* Add border radius for rounded corners */
    position: absolute; /* Position the container absolutely */
    top: 180px; /* Adjust top position */
    left:35px;
    
    box-shadow: 0 0 8px var(--shadow-color-image); /* Align the container to the left side of the page */
}

.right-container a {
    color: inherit; /* Inherit text color */
    text-decoration: none; /* Remove underline */
    /* Add other styles as needed */
}

.member-list {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 0; /* Remove default margin */
    font-family: "Public Sans", sans-serif; /* Specify the font family */
    font-size: 12px; /* Specify the font size */
    font-weight: normal; /* Specify the font weight */
    line-height: 1.5; /* Specify the line height */
    color: var(--text-dark);
}

.member-list-item {
    margin-bottom: 5px; /* Add space between each member */
}


.right-container h2 {
    font-family: "Public Sans", sans-serif; /* Specify the font family */
    font-size: 20px; /* Specify the font size */
    font-weight: bold; /* Specify the font weight */
    margin-bottom: 20px;
    margin-left: 0;
     /* Add space below the heading */
    color: var(--text-dark);
    transition: color 0.3s ease;
    
    position: relative;

}

.right-container h2:hover {
    color: var(--accent-colour); /* Change color on hover */
}


.right-container h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 71%;
    height: 2px;
    background-color: var(--accent-colour);
    box-shadow: 0 0 10px var(--accent-colour);
    transition: width 0.5s ease; /* Smooth transition for width */
}

.right-container h2:hover::after {
    width: 100%; /* Expand the width to the right side */
}




.member-list-item a {
    text-decoration: none; /* Remove underlines from links */
    color: inherit; /* Inherit text color */
    display: flex; /* Align image and username horizontally */
    align-items: center;
}

.member-list-item img {
    width: 30px; /* Adjust image width */
    height: 30px; /* Adjust image height */
    border-radius: 50%; /* Make the image circular */
    margin-right: 10px;
    box-shadow: 0 0 10px var(--shadow-color-image); /* Add space between image and username */
}

.member-list-item img {
    width: 25px; /* Adjust image width */
    height: 25px; /* Adjust image height */
    border-radius: 50%; /* Make the image circular */
    margin-right: 10px; /* Add space between image and username */
}


.left-container {
    width: 14rem;
    text-decoration: none !important; /* Adjust width as needed */
    height: auto; /* Allow height to adjust based on content */
    overflow-y: auto; /* Add vertical scrollbar if needed */
    padding: 10px 2rem; /* Add padding for better appearance */
    background-color: var(--background-color); /* Add background color */
    border-radius: 5px; /* Add border radius for rounded corners */
    position: absolute; /* Position the container absolutely */
    top: 180px; /* Adjust top position */
    right: 35px; /* Position to the right side */
    box-shadow: 0 0 8px var(--shadow-color-image); /* Add shadow */
}

.left-container a {
    color: inherit; /* Inherit text color */
    text-decoration: none; /* Remove underline */
    /* Add other styles as needed */
}


.left-container h2 {
    font-family: "Public Sans", sans-serif; /* Specify the font family */
    font-size: 18px; /* Specify the font size */
    font-weight: bold; /* Specify the font weight */
    margin-bottom: 20px;
    margin-left: 0;
     /* Add space below the heading */
    color: var(--text-dark);
    transition: color 0.3s ease;

    position: relative;

}

.left-container h2:hover {
    color: var(--accent-colour); /* Change color on hover */
}

.left-container h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 55%;
    height: 2px;
    background-color: var(--accent-colour);
    box-shadow: 0 0 10px var(--accent-colour);
    transition: width 0.5s ease; /* Smooth transition for width */
}


.left-container h2:hover::after {
    width: 100%; /* Expand the width to the right side */
}


.movie-list {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 0; /* Remove default margin */
    font-family: "Public Sans", sans-serif; /* Specify the font family */
    font-size: 12px; /* Specify the font size */
    font-weight: normal; /* Specify the font weight */
    line-height: 1.5; /* Specify the line height */
    color: var(--text-dark);
}

.movie-list-item {
    display: flex;
    align-items: center; /* Align items vertically */
    margin-bottom: 5px; /* Add margin between movie items */
}

.movie-list-item a {
    text-decoration: none; /* Remove underlines from links */
    color: inherit; /* Inherit text color */
    display: flex; /* Align image and movie details horizontally */
    align-items: center;
}

.movie-info {
    margin-right: 10px; /* Add spacing between movie title and rating */
}

.movie-rating {
    display: flex; /* Make movie rating a flex container */
    align-items: center; /* Align items vertically */
    margin-left: 10px;
}

.movie-rating .star {
    width: 1em; /* Adjust size as needed */
    height: 1em; /* Adjust size as needed */
    fill: none;
    
}

.movie-rating .star--filled {
    fill: #ffdb2a; /* Adjust color for filled stars */
    stroke: var(--stroke-main-star);
}




.delete__post {
    margin-left: auto;
    margin-top: 5px;
    display: flex;
    font-size: 12px;
    color: var(--delete-color);
    background-color: transparent; /* Move both to the right side */
    border: none;
    cursor: pointer;
    padding: 0;
}

.post__edit {
    margin-left: 1rem;
    margin-top: 5px;
    display: flex;
    font-size: 12px;
    color: #a0a0a0;
    background-color: transparent; /* Move both to the right side */
    border: none;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
}
.post__edit a {
    margin-left: auto;
    display: flex;
    font-size: 12px;
    color: #a0a0a0;
    background-color: transparent; /* Move both to the right side */
    border: none;
    cursor: pointer;
    padding: 0;
    
}
 .post__edit:hover {
    color: var(--accent-colour);
 }



.delete__post {
    margin-left: 10px; /* Add some space between delete and edit */
}

.delete__post:hover {
    color: var(--accent-colour);
}



.neon-line-main {
    width: 30%; /* Set width to full width */
    height: 2px;
    background-color: var(--accent-colour);
    box-shadow: 0 0 10px var(--accent-colour);
    
    margin-bottom: 30px;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    
}







