.button--add {
    position: absolute;
    bottom: 4rem;
    right: 2rem;
    display: flex;
    height: 5rem;
    width: 5rem;
    border: var(--border);
    border-radius: 50%;
    color: var(--text-dark);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.75rem;
    align-items: center;
    justify-content: center;
  }
  
  @media screen and (min-width: 50em) {
    .button--add {
      right: 3rem;
    }
  }
  
  @media screen and (min-width: 80em) {
    .button--add {
      right: 4rem;
    }
  }
  
.button--add:hover {
  color: var(--text);
  background-color: var(--accent-colour);
}

.table {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
  border-spacing: 0;

}

.table__cell {
  padding: 1.25rem 1rem;
}

.table__cell--header {
  position: relative; /* Position relative for pseudo-element */
  text-align: left;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid var(--accent-colour); /* Bottom border */
  box-shadow: none; /* Turn off box shadow */
}

.table__cell--header::after {
  content: ''; /* Required for pseudo-element */
  position: absolute; /* Position absolute to overlay on top */
  bottom: -2px; /* Offset to align with bottom border */
  left: 0;
  width: 100%; /* Set width to 100% */
  height: 2px; /* Adjust thickness as needed */
  background-color: var(--accent-colour); /* Neon effect color */
  box-shadow: 0 0 10px var(--accent-colour); /* Neon effect */
  opacity: 0.5; /* Adjust opacity as needed */
  z-index: -1; /* Behind the content */
}


.delete__movie {
    background-color: transparent; /* Set background color to transparent */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
    font-size: smaller;
    margin-left: 8px; /* Add some margin for spacing */
    cursor: pointer;
    color: #a0a0a0
  }
  
  /* Optionally, you can style the hover effect */
  .delete__movie:hover {
    color: var(--accent-colour);
  }

  .table__movieTitle {
    font-weight: 600;
  }
  
  
  .table__movieDirector {
    font-size: 0.85em;
  }

  .table__link {
    color: inherit;
    text-decoration: none;
  }

  .table__link:hover {
    text-decoration: underline;
    text-decoration-color: var(--accent-colour);
  }

  .table__empty {
    display: block;
    text-align: center;
    font-size: 1.2rem;
  }