.settings-content-section {
    max-width: 500px;
    margin: 25px auto 0; /* Adjust the top margin to move it down */
    padding: 10px 2rem; /* Add padding for better appearance */
    background-color: var(--background-color); /* Add background color */
    border-radius: 5px; /* Add border radius for rounded corners */
    box-shadow: 0 0 8px var(--shadow-color-image); /* Align the container to the left side of the page */
  }


@media screen and (max-width: 768px) {
    .settings-content-section {
        width: 80%; /* Set a smaller width for smaller screens */
        height: 60%; /* Set a smaller height for smaller screens */
    }
}
.settings-content-section h1 {
    font-family: "Public Sans", sans-serif; /* Specify the font family */
    font-size: 2em;/* Specify the font size */
    font-weight: bold; /* Specify the font weight */
    margin-bottom: 20px; /* Add space below the heading */
    color: var(--text-dark);
    position: relative;
    text-align: center;
    
  }
  
  
  .settings-content-section h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: var(--accent-colour);
    box-shadow: 0 0 10px var(--accent-colour); 
  }
  

.settings-media {
    margin-left: 20px;
    transition: 0.3s ease;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: left;
     /* Center items horizontally */
     /* Align text center */
    width: 70%;
    position: relative; /* Adjust margin as needed */
}




.settings-media ul {
    padding-left: 0;
    list-style-type: none;
    text-decoration: underline; /* Removes the default bullet points */
}



.settings-media ul li {
    color: var(--text-dark); /* Set text color to contrast with the background */
    text-decoration: none; /* Remove underline from anchor links */
    display: block;
    
    margin-bottom: 10px; /* Use your accent color variable *//* Add border-radius for rounded corners */
}


.settings-media ul li:hover {
    color: var(--accent-colour);
     /* Change background color on hover */
}

.settings-media ul li a {
    color: var(--text-dark); /* Set text color to contrast with the background */
    text-decoration: none; /* Remove underline from anchor links */
    display: block;
    font-size: 16px;
    transition: 0.3s ease;
    margin-bottom: 10px;
    margin-top: 10px;/* Remove underline from anchor links */
}

.settings-media ul li a:hover {
    color: var(--accent-colour); /* Add underline on hover */
}



.settings-1 {
    margin-bottom: 20px;
    
}


.settings-1 a {
    color: var(--text-dark); /* Set text color to contrast with the background */
    text-decoration: none; /* Remove underline from anchor links */
    display: inline-block; /* Display link as a block element */
    margin-left: 20px; /* Adjust margin as needed */
    margin-bottom: 10px;
    transition: 0.3s ease;
    font-size: 16px;
    
    text-decoration: underline;
}

.settings-1 a:hover {
    color: var(--accent-colour);
    text-decoration-color: var(--text-dark);
}




.sform__error {
    margin-top: 0.5rem;
}

.sform__error,
.sform__flash {
  display: block;
  padding: 0.5rem;
  color: var(--text);
  font-size: 12px;
}

.sform__error,
.sform__flash--danger {
  background: var(--accent-colour);
  border-radius: 5px;
}

.sform__flash {
  margin: 0.5rem;
}

.sform__flash--success {
  background: var(--accent-colour-2);
  border-radius: 5px;
}



/* top rated movies */

/* Styles for the add to watchlist button */
.add-to-list-button {
    position: absolute;
    border: 2px solid var(--accent-colour);
    border-radius: 5px;
    background-color: transparent; /* Make the background transparent */
    color: var(--text-dark);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 4px 8px;
    
}


/* Additional styles for button hover effect */
.add-to-list-button:hover {
    box-shadow: 0 0 10px var(--shadow-color-image);
    transition: 0.1s ease;
}

/* Style for the confirmation message */
.already-added-message {
  color: var(--accent-colour-2); /* Green color, adjust as needed */
  font-size: 12px;
  margin-top: 8px;
}