{% from "macro/svgs.html" import pencil %}
{% extends "layout.html" %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='account.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='movies.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}" />
    
{% endblock %}

{% block main_content %}
<section class="about-section">
    <h1>ABOUT</h1>
    <div class="neon-line"></div>
    <p>MOVIESPHERE NETWORK</p>
    <p>Social Media, extended with movie watchlist options and statistics based
      on users watchlists. Includes "music" page, where music producers are able
      to upload their works and share it (free download). Music files are stored
      using Google Drive API. The application supports functionalities such as
      Search Watchlist, Direct Messages and real time Chat (socket.IO).
      Implemented SSL certificate to enable secure connections (HTTPS) for
      enhanced user security.</p>
    <!-- Add more content about your application or team -->
  </section>
    
{% endblock %}