{% from "macro/svgs.html" import pencil %}
{% extends "layout.html" %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='account.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='movies.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}" />
    
{% endblock %}

{% block main_content %}
<section class="about-section">
    <h1>ABOUT</h1>
    <div class="neon-line"></div>
    <p>MOVIESPHERE NETWORK is basically a social media, extended with personal Movie Watchlist record, other statistics and rating movies.</p>
    <p>Application is still in developing proccess, new features are going to come very soon.</p>
    <!-- Add more content about your application or team -->
  </section>
    
{% endblock %}