{% from "macro/svgs.html" import pencil %}

{% extends "layout.html" %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='account.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='movies.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='movie_details.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='user_profile.css') }}" />
{% endblock %}

{% block main_content %}
    <div class="content-section">
        <div class="media">
            <div class="accfollower-following-container">
                <p class="accfollow-count"><a href="{{ url_for('pages.followers', username=current_user.username) }}">Followers: <strong>{{ current_user.followers.count() }}</strong></a></p>
                <p class="accfollow-count"><a href="{{ url_for('pages.followings', username=current_user.username) }}">Following: <strong>{{ current_user.followed.count() }}</strong></a></p>
            </div>
            <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="Profile Picture">
            <div class="movie__name">
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
            <a href="{{ url_for('pages.edit_profile') }}" class="edit_profile">Edit Profile {{ pencil("pencil_edit") }}</a> 
        </div>
    </div> 
    
    <div class="post-container-acc">
        <div class="login-header-profile">My Posts</div>
        <div class="neon-line"></div>
        {% for post in user_posts %}
            <div class="post-acc">
                <div class="post-acc-header">
                    <a href="{{ url_for('pages.account', username=post.user.username) }}" class="post-acc-header a">
                        <img src="{{ url_for('static', filename='profile_pics/' + post.user.image_file) }}" alt="Profile Picture" class="post-header-img-acc"> 
                        <h3 class="post-username-acc">{{ post.user.username }}</h3>
                    </a>
                    {% if current_user.is_authenticated and post.user_id == current_user.id %}
                        <a class="post__edit__acc" href="{{ url_for('pages.edit_post_acc', post_id=post.id) }}">Edit</a>
                        <form action="{{ url_for('pages.delete_post', post_id=post.id)}}" method="post" style="display: inline;">
                            <input type="submit" value="Delete" class="delete__post__acc">
                        </form>
                    {% endif %}
                    <p class="post-date-acc">{{ post.date_posted.strftime('%d %b %Y') }}</p>
                </div>
                <p class="post-content-acc">{{ post.content }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
