{% from "macro/fields.html" import render_text_field %}
{% extends "layout.html" %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='movies.css') }}" />
    
{% endblock %}

{% block main_content %}


{% with messages = get_flashed_messages(with_categories=true) %}
{% for category, message in messages %}
    <span class="form__flash form__flash--{{category}}"> {{ message }}</span>
{% endfor %}
{% endwith %}
<form name="edit_password" method="post" novalidate class="form">
<div class="form__container">
    <div class="login-header-login">Change Password</div>    
    {{ form.hidden_tag() }}
    {{ render_text_field(form.current_password) }}
    {{ render_text_field(form.new_password) }}
    {{ render_text_field(form.confirm_new_password) }}



    <div>
        {{ form.submit(class_="button button--form") }}
    </div>
</div>

</form>

{% endblock %}