{% from "macro/fields.html" import render_text_field, render_area_field, render_post_field %}
{% extends "layout.html" %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main_page.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='movie_details.css') }}" />
{% endblock %}


{% block main_content %}
    <!-- Content specific to the main page -->
    <div class="input-container">
        <form method="post" action="{{ url_for('pages.create_post') }}">
            {{ form.hidden_tag() }}
            <div class="styled-input">
                <textarea id="content" name="content" placeholder="Write something..." class="wide-input"></textarea>
            </div>
            <button type="submit" class="post-button">Post</button> <!-- Add the button here -->
        </form>
        
    </div>
    
    <!-- Example posts -->
    <div class="post-container">
        {% for post in posts %}
        <div class="post">
            <div class="post-header">
                <a href="{{ url_for('pages.main', username=post.user.username) }}" class="post-header a">
                    <img src="{{ url_for('static', filename='profile_pics/' + post.user.image_file) }}" alt="Profile Picture" class="post-header-img">
                <h3 class="post-username">{{ post.user.username }}</h3> <!-- Display the username -->
                </a>
                <p class="post-date">{{ post.date_posted.strftime('%d %b %Y') }}</p> <!-- Display the date_posted -->
            </div>
            <p class="post-content">{{ post.content }}</p>
        </div>
        {% endfor %}
        
    </div>
<!-- New container for the list of members -->
<div class="right-container">
    <a href="{{ url_for('pages.members') }}">
    <h2>MEMBERS</h2>
    </a>
    <ul class="member-list">
        {% for member in members %}
        <li class="member-list-item">
            <a href="{{ url_for('pages.members') }}" class="member-list-item a">
                <img src="{{ url_for('static', filename='profile_pics/' + member.image_file) }}" alt="Profile Photo" class="member-list-item img">
                {{ member.username }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="left-container">
    <a href="{{ url_for('pages.top_rated_movies') }}">
    <h2>TOP RATED MOVIES</h2>
    </a>
    <ul class="movie-list">
        <!-- Movie list items go here -->
        {% for movie in top_movies %}
        <li class="movie-list-item">
            <a href="{{ url_for('pages.top_rated_movies') }}" class="movie-list-item a">
            {{ movie.title }}
            <div class="movie-rating">
                {% for i in range(1, 6) %}
                        <svg class="star {% if movie.rate and movie.rate >= i %}star--filled{% endif %}" viewBox="0 0 24 24">
                            <path d="M12 2l2.35 7.24h7.65l-6.19 4.49 2.35 7.26L12 17.36l-6.16 4.63 2.35-7.26-6.19-4.49h7.65z"></path>
                        </svg>
                    {% endfor %}
            </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}