{% from "macro/fields.html" import render_text_field, render_area_field, render_post_field %}
{% extends "layout.html" %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main_page.css') }}" />
    
{% endblock %}


{% block main_content %}
    <!-- Content specific to the main page -->
    <div class="input-container">
        <form method="post" action="{{ url_for('pages.create_post') }}">
            {{ form.hidden_tag() }}
            <div class="styled-input">
                <textarea id="content" name="content" placeholder="Write something..." class="wide-input"></textarea>
            </div>
            <button type="submit" class="post-button">Post</button> <!-- Add the button here -->
        </form>
        
    </div>
    
    <!-- Example posts -->
    <div class="post-container">
        {% for post in posts %}
        <div class="post">
            <div class="post-header">
                <a href="{{ url_for('pages.main', username=post.user.username) }}" class="post-header a">
                    <img src="{{ url_for('static', filename='profile_pics/' + post.user.image_file) }}" alt="Profile Picture" class="post-header-img">
                <h3 class="post-username">{{ post.user.username }}</h3> <!-- Display the username -->
                </a>
                <p class="post-date">{{ post.date_posted.strftime('%d %b %Y') }}</p> <!-- Display the date_posted -->
            </div>
            <p class="post-content">{{ post.content }}</p>
        </div>
        {% endfor %}
        
    </div>
<!-- New container for the list of members -->
<div class="right-container">
    <h2>MEMBERS</h2>
    <ul class="member-list">
        {% for member in members %}
        <li class="member-list-item">
            <a href="{{ url_for('pages.main') }}" class="member-list-item a">
                <img src="{{ url_for('static', filename='profile_pics/' + member.image_file) }}" alt="Profile Photo" class="member-list-item img">
                {{ member.username }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
   
{% endblock %}