{% from "macro/fields.html" import render_text_field, render_area_field, render_post_field %}
{% extends "layout.html" %}
{% from "macro/svgs.html" import star, pencil %}

{% block head_content %}
<script>
    function likePost(postId) {
    fetch(`/like/${postId}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({})
    })
    .then(() => {
        window.location.reload(); // Reload the page after the request is completed
    })
    .catch(error => console.error('Error:', error));
}
</script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main_page.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='movie_details.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='account.css') }}" />
{% endblock %}


{% block main_content %}

    <!-- Content specific to the main page -->
    <div class="input-container">
        
        <form method="post" action="{{ url_for('pages.create_post') }}">
            {{ form.hidden_tag() }}
            <div class="styled-input">
                <textarea id="content" name="content" placeholder="Write something..." class="wide-input"></textarea>
            </div>
            <button type="submit" class="post-button">Post</button> <!-- Add the button here -->

            


        </form>
        
    </div>
    
        
    
    <div class="post-container">
        <div class="neon-line-main"></div>
        <form id="sort-form" action="{{ url_for('pages.main') }}" method="get">
            <div class="sort-dropdown-main">
                <label for="sort-option">Sort by:</label>
                <select id="sort-option" name="sort_option" onchange="handleSortOption()">
                    <option value="Newest">Newest</option>
                    <option value="Oldest" {% if sort_option == "Oldest" %} selected {% endif %}>Oldest</option>
                    <option value="Most Liked" {% if sort_option == "Most Liked" %} selected {% endif %}>Most Liked</option>
                </select>
            </div>
        </form>
    
    
        <script>
            function handleSortOption() {
                document.getElementById("sort-form").submit();
            }
        </script>
        {% for post in posts.items %}
        <div class="post">
            <div class="post-header">
        
                {% if current_user == post.user %}
                    <a href="{{ url_for('pages.account') }}" class="post-header a">
                {% else %}
                    <a href="{{ url_for('pages.user_profile', username=post.user.username) }}" class="post-header a">
                {% endif %}
                    <img src="{{ url_for('static', filename='profile_pics/' + post.user.image_file) }}" alt="Profile Picture" class="post-header-img">
                    <h3 class="post-username">{{ post.user.username }}</h3> <!-- Display the username -->
    </a>
                {% if current_user.is_authenticated and post.user_id == current_user.id %}
                
                <a class="post__edit" href="{{ url_for('pages.edit_post', post_id=post.id) }}">Edit</a>
                <form action="{{ url_for('pages.delete_post', post_id=post.id)}}" method="post" style="display: inline;">
                    <input type="submit" value="Delete" class="delete__post">
                       
                </form>
                
                {% endif %}
            </div>
            
            <p class="post-content">{{ post.content }}</p>
            <p class="post-date">{{ post.date_posted.strftime('%d %b %Y') }}</p> <!-- Display the date_posted -->
            <div class="post-actions">
                <button class="like-button" onclick="likePost('{{ post.id }}')">Like</button>
                <a href="{{ url_for('pages.post_likes', post_id=post.id) }}">
                    {% if post_likes.get(post.id, 0) > 0 %}
                        <span class="likes-count">{{ post_likes.get(post.id, 0) }}</span>
                    {% endif %}
                </a>
            </div>
        </div>
        {% endfor %}
        <div class="pagination-container">
            
            {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if posts.page == page_num %}
                <a class="pagination-current" href="{{ url_for('pages.main', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                <a class="pagination" href="{{ url_for('pages.main', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}
        </div>    
    </div>

        

<!-- New container for the list of members -->
<div class="right-container">
    <a href="{{ url_for('pages.members') }}">
    <h2>MEMBERS</h2>
    </a>
    <ul class="member-list">
        {% for member in members %}
        <li class="member-list-item">
            <a href="{{ url_for('pages.user_profile', username=member.username) }}" class="member-list-item a">
                <img src="{{ url_for('static', filename='profile_pics/' + member.image_file) }}" alt="Profile Photo" class="member-list-item img">
                {{ member.username }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
<!-- Container for top movies 
<div class="movie-container">
    <h2>TOP MOVIES</h2>
    <ul class="movie-list">
        {% if imdb_top_10 %}
            {% for movie in imdb_top_10 %}
                <li class="movie-list-item">
                    {{ movie.title }} 
                </li>
            {% endfor %}
       {% endif %}
    </ul>
</div>-->


<div class="left-container">
    <a href="{{ url_for('pages.top_rated_movies') }}">
    <h2>TOP RATED MOVIES</h2>
    </a>
    <ul class="movie-list">
        <!-- Check if the top_movies list is not empty -->
        {% if top_movies %}
            <!-- Initialize a flag to check if there are any rated movies -->
            {% set has_rated_movies = False %}
            
            <!-- Loop through the movies and check if any have been rated -->
            {% for movie in top_movies %}
                {% if movie.rate and movie.rate > 0 %}
                    <!-- Set flag to True when a rated movie is found -->
                    {% set has_rated_movies = True %}
                    <li class="movie-list-item">
                        <a href="{{ url_for('pages.top_rated_movies') }}" class="movie-list-item a">
                            {{ movie.title }}
                            <div class="movie-rating">
                                {% for i in range(1, 6) %}
                                <svg class="star {% if movie.rate >= i %}star--filled{% endif %}" viewBox="0 0 24 24">
                                    <path d="M12 2l2.35 7.24h7.65l-6.19 4.49 2.35 7.26L12 17.36l-6.16 4.63 2.35-7.26-6.19-4.49h7.65z"></path>
                                </svg>
                                {% endfor %}
                            </div>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}

        {% else %}
            <!-- If the top_movies list is empty, display the message -->
            <li class="movie-list-item">
                <p class="no-rating-message">You haven't added any rated movie yet.</p>
            </li>
        {% endif %}
    </ul>
    
</div>


{% endblock %}