{% from "macro/svgs.html" import star, pencil %}

{% extends "layout.html" %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='movie_details.css') }}" />
{% endblock %}


{% block main_content %}
<div class="container">
    <header class="movie__header">
        <div class="header__row">
            <div class="movie__name">
                <h1>{{ movie_data.title }}</h1>
                <div class="movie__rating">
                    {% for i in range(5) %}
                        <a class="rating__link" href="{{ url_for('pages.rate_movie', post_id=movie_data.id, rate=i + 1) }}">
                            {{ star("star " + ("star--filled" if movie_data.rate and movie_data.rate > i else "")) }}
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="movie__watched">
                {% if movie_data.last_watched %}
                    <p>
                        Last Watched: <a href="{{ url_for('pages.watch_today', post_id=movie_data.id) }}" class="watched__link">
                            <time datetime="{{ movie_data.last_watched }}">{{ movie_data.last_watched.strftime("%d %b %Y") }}</time>
                        </a>
                    </p>
                {% else %}
                    <p><a href="{{ url_for('pages.watch_today', post_id=movie_data.id) }}" class="watched__link">Not Watched Yet</a></p>
                {% endif %}
                    <a class="movie__edit" href="{{ url_for('pages.edit_movie', post_id=movie_data.id) }}">Edit {{ pencil("pencil") }}</a>
            </div>
        </div>
        <div class="header__row">
            <ul class="movie__tags">
            {% if movie_data.genre %}
                <li class="movie__tag">{{ movie_data.genre }}</li>
            {% endif %}
            </ul>
        </div>
    </header>

    
    
    {% if movie_data.video_link %}
        <iframe
            class="movie__video"
            src="{{ movie_data.video_link }}"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-ritek; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>

    {% endif %}

    {% if movie_data.description %}
        <p class="movie__description">{{ movie_data.description }}</p>
    {% else %}
        <p class="movie__description">No description yet. <a class="link" href="{{ url_for('pages.edit_movie', post_id=movie_data.id) }}">Add one?</a></p>
    {% endif %}

    <div class="movie__meta">
        {% if movie_data.main_cast %}
            <div class="movie__cast">
                <h2>Main Cast</h2>
                    <li class="list__item"> {{ movie_data.main_cast }}</li>
            </div>
        {% endif %}
    </div>
    
</div>

{% endblock %}