{% extends "layout.html" %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='store.css') }}" />
{% endblock %}

{% block main_content %}
<div class="content-container">
    <div class="music-container">
        <h2>MUSIC</h2>

        <!-- Upload Music Button (leads to the new upload page) -->
        <a href="{{ url_for('pages.upload_page') }}" class="upload-btn">
            Upload Music
        </a>

        <!-- Display list of songs -->
        <ul class="song-list">
            {% for music_file in music_files %}
                {% if music_file.filename %}
                    <li class="song-item">
                        <div class="song-details">
                            <span class="song-title">{{ music_file.music_title }}</span>
                            <audio controls class="audio-player">
                                <source src="{{ url_for('pages.audio', drive_file_id=music_file.drive_file_id) }}" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                            <div class="action-buttons">
                                <span class="username">{{ music_file.uploader_username }}</span>
                                <a href="{{ url_for('pages.download_file', id=music_file.id) }}" download class="btn-link">Free Download mp3</a>
                                <form action="{{ url_for('pages.delete_file', id=music_file.id) }}" method="post">
                                    <button class="delete-btn" type="submit">Delete</button>
                                </form>
                            </div>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}