{% extends "layout.html" %}

{% block head_content %}
    
    <link rel="stylesheet" href="{{ url_for('static', filename='top_rated_movies.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='store.css') }}" />
    
{% endblock %}

{% block main_content %}
<div class="top-rated-container">
    <h2>TOP RATED MOVIES</h2>
    <ul class="top-rated-list">
        <!-- Movie list items go here -->
        {% for movie in top_movies %}
        <li class="top-rated-list-item">
            <a href="{{ url_for('pages.top_rated_movies') }}" class="movie-list-item a">
            {{ movie.title }}
            <div class="top-rated-movie-rating">
                {% for i in range(1, 6) %}
                        <svg class="star {% if movie.rate and movie.rate >= i %}star--filled{% endif %}" viewBox="0 0 24 24">
                            <path d="M12 2l2.35 7.24h7.65l-6.19 4.49 2.35 7.26L12 17.36l-6.16 4.63 2.35-7.26-6.19-4.49h7.65z"></path>
                        </svg>
                    {% endfor %}
            </div>
            </a>
            <div class="top-rated-button-container">
            {% if movie.author.id != current_user.id %}
    {% if movie in current_user.watchlist %}
        <!-- Display a confirmation message if the movie is already in the watchlist -->
        <p class="already-added-message">Movie already added.</p>
    {% else %}
        <!-- Display the "Add to Watchlist" button if the movie is not in the watchlist -->
        <form action="{{ url_for('pages.add_to_watchlist', post_id=movie.id ) }}" method="post">
            <button type="submit" class="add-to-list-button">Add to Watchlist</button>
        </form>
    {% endif %}
{% endif %}
</div>
        </li>
        {% endfor %}
    </ul>
    
</div>
{% endblock %}
    