{% extends "layout.html" %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='user_profile.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='movies.css') }}" />
    
{% endblock %}

{% block main_content %}






    <div class="content-section">
        <div class="media">
        
            <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" alt="Profile Picture">
            
            <div class="heading-container">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
                
            </div>

            <div class="follower-following-container">
                <p class="follow-count"><a href="{{ url_for('pages.followers', username=user.username) }}">Followers: <strong>{{ user.followers.count() }}</strong></a></p>
                <p class="follow-count"><a href="{{ url_for('pages.followings', username=user.username) }}">Following: <strong>{{ user.followed.count() }}</strong></a></p>
            </div>

            <div class="follow-unfollow--style">
            {% if current_user != user %}
                {% if current_user.is_following(user) %}
                    <form action="{{ url_for('pages.unfollow', username=user.username) }}" method="post">
                        <button type="submit" class="unfollow-btn">Unfollow</button>
                    </form>
                {% else %}
                    <form action="{{ url_for('pages.follow', username=user.username) }}" method="post">
                        <button type="submit" class="follow-btn">Follow</button>
                    </form>
                {% endif %}
            {% endif %}
            
            </div>
            {% if current_user != user %}
            <div class="start-conversation-button">
                <form action="{{ url_for('pages.start_conversation', user_id=user.id) }}" method="post">
                    <button type="submit" class="conversation-button">Send Message</button>
                </form>
            </div>
        {% endif %}

        </div>
    </div> 
    
    <div class="post-container-acc"> 
        <div class="login-header-login-user_profile">User Posts</div>
        <div class="neon-line"></div>
        {% if current_user.is_following(user) %}
            {% for post in user_posts %}
                <div class="post-acc">
                    <div class="post-acc-header">
                        <a href="{{ url_for('pages.user_profile', username=user.username) }}" class="post-acc-header a">
                            <img src="{{ url_for('static', filename='profile_pics/' + post.user.image_file) }}" alt="Profile Picture" class="post-header-img-acc"> 
                            <h3 class="post-username-acc">{{ post.user.username }}</h3>
                        </a>
                    </div>
                    <p class="post-date-acc">{{ post.date_posted.strftime('%d %b %Y') }}</p>
                    <p class="post-content-acc">{{ post.content }}</p>
                </div>
            {% endfor %}
        {% else %}
        <div class="follow_to_see_posts_text">
            <p>Follow user to see posts.</p>
        </div>
        {% endif %}
    </div>
{% endblock %}